{% extends '../../../views/layout.html' %}

{% block header %}
<link rel="stylesheet" href="/whoIsActive/styles.css">
{% endblock %}

{% block content %}

<div class="container" ng-controller="activeCtrl">

    <div class="row">
        <div class="col-lg-7">
            {{data | json}}
        </div>
        <div class="col-lg-5">
        </div>
    </div>

</div>

{% endblock %}

{% block footer %}
<script src="/bower/d3/d3.js" charset="utf-8"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/whoIsActive/module.js"></script>
{% endblock %}
