/* SQL Style Sheet */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

code {
    font-size: 80%;
}

.navbar-right {
    padding: 0;
    margin: 0;
}

.page-header {
    padding-bottom: 2px;
    margin: 0px 0px 20px 0px;
}

.page-header .input-group {
    margin-top: 10px;
}

.wintellect-logo span {
    font-size: 18px;
    padding-right: 20px;
    vertical-align: bottom;
}
