{% extends '../../../views/layout.html' %}

{% block header %}
<link rel="stylesheet" href="/waitStats/styles.css">
{% endblock %}

{% block content %}

<div class="container" ng-controller="waitStatsCtrl">

    <div class="row">
        <div class="col-lg-3">

            <div class="row">
                <div class="col-lg-12">

                    <h4>Wait Types</h4>

                    <ul id="waitsLegend" class="list-group">
                    </ul>

                </div>
            </div>

        </div>
        <div class="col-lg-9">

            <sg-wait-stats-visualization
                    visualization-data="data"
                    legend="#waitsLegend">
            </sg-wait-stats-visualization>

        </div>
    </div>

</div>

{% endblock %}

{% block footer %}
<script src="/bower/d3/d3.js" charset="utf-8"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/waitStats/module.js"></script>
<script src="/waitStats/waitStatsVisualization.js"></script>
{% endblock %}
