<!DOCTYPE html>
<html ng-app="main">
<head>
    <meta charset="utf-8">
    <title>{% block title %}SQL Server Gadget Box{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/main.css">
    {% block header %}{% endblock %}

</head>
<body ng-controller="commonCtrl" ng-cloak>

    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SQL Server Gadget Box</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://github.com/Wintellect" target="_blank">GitHub</a>
                    </li>
                </ul>
                <div class="navbar-form navbar-right" role="form">
                    <a href="http://wintellect.com" target="_blank">
                        <img src="/images/winlogobl.gif" width="125" height="45">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <h3>{{pageInfo.title}}</h3>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">Connection</span>
                        <select
                            class="form-control"
                            name="selectedConnection"
                            ng-model="pageInfo.selectedConnection"
                            ng-options="connection.name for connection in connections">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <script src="/bower/modernizr/modernizr.js"></script>
    <script src="/bower/lodash/dist/lodash.js"></script>
    <script src="/bower/jquery/jquery.js"></script>
    <script src="/bower/angular/angular.js"></script>
    <script src="/bower/angular-route/angular-route.js"></script>
    <script src="/bower/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/commonModule.js"></script>

    {% block footer %}{% endblock %}

</body>
</html>
