{% extends '../views/layout.html' %}

{% block header %}
{% endblock %}

{% block content %}

    <div class="container" ng-controller="indexCtrl">

        <div class="row">
            <div class="col-lg-5">
                <table class="table table-hover">
                    <tbody>
                    <tr ng-repeat="g in gadgets">
                        <td>
                            <a href="{{g.url}}" ng-mouseover="setDescription(g.description)">{{g.name}}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Description</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-include="descriptionUrl"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block footer %}
    <script src="/js/mainModule.js"></script>
{% endblock %}
