{% extends '../views/layout.html' %}

{% block header %}
{% endblock %}

{% block content %}

    <div class="container" ng-controller="indexCtrl">

        <div class="row">
            <div class="col-lg-5">
                <div class="row" ng-repeat="g in gadgets">
                    <div class="col-lg-12">
                        <a href="{{g.url}}" ng-mouseover="setDescription(g.description)">{{g.name}}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div ng-include="descriptionUrl"></div>
            </div>
        </div>

    </div>

{% endblock %}

{% block footer %}
    <script src="/js/mainModule.js"></script>
{% endblock %}
